.nav-left{
    background-color: #001529;
    color: #ffffff;
    height: calc(100vh);
}
.main {
    height: calc(100vh);
    background-color: #f1f3f5;
    overflow: auto;
}
.content{
    position: relative;
    padding: 20px;
    height: 840px;
}

.logo {
    line-height: 90px;
    padding-left: 20px;
    background-color: #002140;
}
img {
    height: 35px;
}
h2 {
    color: #ff5400;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
}
