<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name = "logRule" value = "[%-10level] %d{yyyy-MM-dd HH:mm:ss} %m%n"/>
    <property name="logDir" value="./log"/>

    <appender name = "filesLog" class = "ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/logging_logback.log</file>
        <encoder class = "ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logRule}</pattern>
        </encoder>
        <rollingPolicy class = "ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/log_roll.%d{yyyy-MM-dd}.log%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name = "authLog" class = "ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/auth/auth_logging_logback.log</file>
        <encoder class = "ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logRule}</pattern>
        </encoder>
        <rollingPolicy class = "ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/log_roll.%d{yyyy-MM-dd}.log%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>
    <logger name="com.stream.logger.Auth" level="info" additivity="false">
        <appender-ref ref="authLog"/>
    </logger>
    <root level="info">
        <appender-ref ref = "filesLog"/>
    </root>
</configuration>