.login {
    margin-top: 250px;
    margin-left: 770px;
}
.inside {
    margin-top: 50px;
    margin-left: 80px;
}
.button {
    width: 250px;
    margin-top: 10px;
}
.link {
    margin-left: 890px;
}
.radio {
    margin-left: 780px;
}
.code {
    width: 100px;
    margin-left: 10px;
}
.input {
    width: 60px;
}
.input2 {
    width: 180px;
}
.box1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../img/bg_01.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}