.login {
    margin-top: 250px;
    margin-left: 800px;
}
.inside {
    margin-top: 50px;
    margin-left: 30px;
}
.button {
    width: 250px;
    margin-top: 10px;
}
.link {
    margin-left: 910px;
}
.radio {
    margin-left: 780px;
}
.code {
    width: 100px;
    margin-left: 10px;
}
.input {
    width: 60px;
}
.input2 {
    width: 180px;
}